{% extends "base.html" %}

{% macro line_class(state) -%}
    {%- if state == Mark.CHANGE_BEFORE -%}
        bg-green-300
    {%- elif state == Mark.CHANGE_AFTER -%}
        bg-red-300
    {%- endif -%}
{%- endmacro %}

{% macro line_box_class(state) -%}
    {%- if state == Mark.CHANGE_BEFORE -%}
        bg-green-400
    {%- elif state == Mark.CHANGE_AFTER -%}
        bg-red-400
    {%- endif -%}
{%- endmacro %}

{% macro line_box_msg(state) -%}
    {%- if state == Mark.CHANGE_BEFORE -%}
        -
    {%- elif state == Mark.CHANGE_AFTER -%}
        +
    {%- endif -%}
{%- endmacro %}

{% block content %}
<h2 class="text-lg font-bold">아카이브 비교</h2>
<div class="mt-4 shadow bg-gray-500 rounded-lg py-1">
    {% for block in diff_blocks %}
    <div class="{{ line_class(block.state) }} pl-6 pr-1 relative">
        <code class="break-all">{{ block.body }}</code>
        <div class="absolute {{ line_box_class(block.state) }} inset-y-0 left-0 w-4 text-center">
            {{- line_box_msg(block.state) -}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
