{% extends "base.html" %}

{% macro line_class(state) -%}
    {%- if state == Mark.CHANGE_BEFORE -%}
        bg-red-300
    {%- elif state == Mark.CHANGE_AFTER -%}
        bg-green-300
    {%- endif -%}
{%- endmacro %}

{% macro line_strong_class(state) -%}
{%- if state == Mark.CHANGE_BEFORE -%}
bg-red-500
{%- elif state == Mark.CHANGE_AFTER -%}
bg-green-500
{%- endif -%}
{%- endmacro %}

{% macro line_box_class(state) -%}
    {%- if state == Mark.CHANGE_BEFORE -%}
        bg-red-400
    {%- elif state == Mark.CHANGE_AFTER -%}
        bg-green-400
    {%- endif -%}
{%- endmacro %}

{% macro line_box_msg(state) -%}
    {%- if state == Mark.CHANGE_BEFORE -%}
        -
    {%- elif state == Mark.CHANGE_AFTER -%}
        +
    {%- endif -%}
{%- endmacro %}

{% block content %}
<h2 class="text-lg font-bold">아카이브 비교</h2>

<div class="mt-4">
    <div class="flex">
        <div class="bg-red-200 pl-1 pr-3 rounded-tl-lg">이전:</div>
        <div class="text-white px-2 rounded-tr-lg bg-gray-800 flex-auto">{{ rev1.created_at|dtform }}</div>
    </div>
    <div class="flex">
        <div class="bg-green-200 pl-1 pr-3 rounded-bl-lg">이후:</div>
        <div class="text-white px-2 rounded-br-lg bg-gray-800 flex-auto">{{ rev2.created_at|dtform }}</div>
    </div>
</div>
<div class="mt-4 shadow bg-gray-500 rounded-lg overflow-hidden">
    {% for block in diff_blocks %}
    <div class="{{ line_class(block.state) }} pl-6 pr-1 relative" id="L{{ loop.index }}">
        <code class="whitespace-pre-wrap">
            {%- for state, line in block.get_line_split() -%}
            {%- if state == Mark.CHANGE_NO -%}
            {{- line -}}
            {%- else -%}
            <strong class="{{ line_box_class(state) }}">{{ line }}</strong>
            {%- endif -%}
            {%- endfor -%}
        </code>
        <div class="absolute {{ line_box_class(block.state) }} inset-y-0 left-0 w-4 text-center">
            {{- line_box_msg(block.state) -}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
